@use '../abstracts/variables' as *;

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $slate-400;

  svg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    color: $slate-300;
  }
  
  .empty-message {
    color: $slate-400;
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
}
