@use 'variables' as *;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $slate-200;
  background-color: transparent;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $slate-900;
}

::-webkit-scrollbar-thumb {
  background-color: $cyan-900;
  border-radius: 9999px;
  transition: background-color 150ms;
  
  &:hover {
    background-color: #0e7490;
  }
}
